.cart-template {
  position: relative;
}
.cart-template .cart-template__title {
  padding-left: 16px;
  padding-right: 16px;
  margin-bottom: 16px;
  text-align: center;
}
.cart-template .cart-template__row {
  display: flex;
  flex-direction: column;
}
.cart-template .cart-template__col {
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
}
.cart-template .cart-template__discounts {
  margin-top: 10px;
  margin-bottom: 20px;
  margin-left: 10px;
  margin-right: 10px;
}
.cart-template.is-empty .cart-template__blocks,
.cart-template.is-empty .cart-template__footer {
  display: none;
}
@media (min-width: 768px) {
  .cart-template .cart-template__title {
    margin-bottom: 64px;
  }
}
@media (min-width: 1200px) {
  .cart-template .cart-template__container {
    margin: 0 auto;
    max-width: 1460px;
    padding: 0 30px;
  }
  .cart-template .cart-template__title {
    padding: 0;
  }
  .cart-template .cart-template__row {
    flex-direction: row;
    column-gap: 60px;
  }
  .cart-template .cart-template__col {
    max-width: none;
    margin: 0;
  }
  .cart-template .cart-template__col.cart-template__col--main {
    width: 70.06%;
  }
  .cart-template .cart-template__col.cart-template__col--sidebar {
    width: 36.6%;
  }
}
.cart-drawer .cart-drawer__container {
  position: relative;
  z-index: var(--layer-flat);
  display: flex;
  flex-direction: column;
  padding: 0;
  border-radius: inherit;
}
.cart-drawer .cart-drawer__content {
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
}
.cart-drawer .cart-drawer__heading {
  position: sticky;
  top: 0;
  left: 0;
  z-index: var(--layer-overlay);
  width: 100%;
  padding: 16px;
  background-color: var(--color-background-popup-drawer, #fff);
}
.cart-drawer .cart-drawer__close {
  right: 6px;
}
.cart-drawer .cart-drawer__section {
  padding: 16px;
}
.cart-drawer .cart-drawer__section.cart-drawer__section--upsell {
  padding-top: 19px;
}
.cart-drawer .cart-drawer__section + .cart-drawer__section {
  border-top: 1px solid var(--color-border-secondary);
}
.cart-drawer .cart-drawer__section.cart-drawer__section--richtext {
  display: flex;
  align-items: center;
  gap: var(--global-gap-small);
  padding-left: 24px;
  padding-right: 24px;
  background-color: var(--richtext-background-color);
  line-height: 1.285;
  font-size: calc(var(--body-font-size) * 0.875);
  color: var(--richtext-color, var(--color-black));
}
.cart-drawer .cart-drawer__section.cart-drawer__section--richtext a {
  color: currentColor;
  transition-duration: var(--timing-short);
  transition-property: text-decoration-color;
}
.cart-drawer .cart-drawer__section.cart-drawer__section--richtext a:focus-visible {
  outline: 2px solid currentColor;
}
@media (-moz-touch-enabled: 0), (hover: hover), (pointer: fine) {
  .cart-drawer .cart-drawer__section.cart-drawer__section--richtext a:hover {
    text-decoration-color: transparent;
  }
}
.cart-drawer .cart-drawer__footer {
  padding: 0;
  border-top: 1px solid var(--color-border-secondary, #e6e6e6);
}
.cart-drawer .cart-drawer__richtext-icon {
  position: relative;
  display: inline-flex;
  align-items: center;
  flex-shrink: 0;
  width: 24px;
  height: 24px;
}
.cart-drawer .cart-drawer__richtext-image {
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: var(--img-desktop-pos);
}
.cart-drawer .cart-drawer__image {
  width: 100%;
  object-position: var(--img-desktop-pos);
}
.cart-drawer .cart-drawer__upsell {
  position: absolute;
  z-index: var(--layer-flat);
  visibility: visible;
  margin: 0;
  height: 100%;
}
.cart-drawer.is-empty .cart-drawer__footer,
.cart-drawer.is-empty .cart-drawer__summary {
  display: none;
}
@media (min-width: 992px) {
  .cart-drawer .cart-drawer__heading {
    padding-left: 24px;
    padding-right: 24px;
  }
  .cart-drawer .cart-drawer__close {
    right: 14px;
  }
  .cart-drawer .cart-drawer__section {
    padding-left: 24px;
    padding-right: 24px;
  }
  .cart-drawer .cart-drawer__section.cart-drawer__section--upsell {
    padding-top: 12px;
    padding-bottom: 0;
    padding-left: 30px;
    padding-right: 30px;
  }
  .cart-drawer .cart-drawer__upsell-trigger {
    display: none;
  }
  .cart-drawer .cart-drawer__upsell {
    right: 0;
    z-index: var(--layer-negative);
    opacity: 0;
    visibility: hidden;
    transform: unset;
    transition-property: opacity;
    transition-duration: 0s;
  }
  .cart-drawer:not(.is-empty).is-active .cart-drawer__upsell {
    opacity: 1;
    visibility: visible;
    transform: translateX(calc(-100% - 16px));
    transition-duration: var(--timing-base);
    transition-delay: var(--timing-base);
  }
}
.cart-empty {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.cart-empty .cart-empty__heading {
  font-weight: 400;
  line-height: 1.37;
  letter-spacing: 0.02em;
  text-align: center;
}
.cart-empty .cart-empty__link {
  margin-top: 30px;
  margin-bottom: 30px;
  text-decoration: none;
}
@media (min-width: 768px) {
  .cart-empty .cart-empty__link {
    margin-top: 60px;
  }
}
@media (max-width: 767.98px) {
  .cart-template .cart-empty {
    padding: 0 16px;
  }
}
.cart-drawer .cart-empty {
  margin-top: auto;
  margin-bottom: auto;
  padding: 60px 20px;
}
.cart-items .cart-items__head {
  display: none;
}
@media (min-width: 1200px) {
  .cart-items .cart-items__head {
    display: flex;
    padding: 16px;
    border-bottom: 1px solid var(--color-border-secondary);
  }
  .cart-items .cart-items__col {
    min-width: 15%;
    padding-left: 8px;
    padding-right: 8px;
    line-height: 1.5;
    color: var(--color-text-secondary, #757575);
  }
  .cart-items .cart-items__col.cart-items__col--centralize {
    text-align: center;
  }
  .cart-items .cart-items__col.cart-items__col--main {
    width: 24vw;
  }
  .cart-items .cart-items__col.cart-items__col--quantity {
    min-width: 146px;
  }
  .cart-items .cart-items__col.cart-items__col--summary {
    min-width: 120px;
  }
  .cart-items .cart-items__col.cart-items__col--actions {
    display: none;
  }
}
@media (min-width: 1350px) {
  .cart-items .cart-items__col {
    min-width: 15%;
  }
  .cart-items .cart-items__col.cart-items__col--main {
    width: calc(116px + 32%);
  }
}
@media (max-width: 1199.98px) {
  .cart-template .cart-items .cart-items__body {
    padding-bottom: 16px;
  }
}
.cart-item {
  display: flex;
  align-items: flex-start;
  width: 100%;
}
.cart-item + .cart-item {
  padding-top: 24px;
}
.cart-item.cart-item--without-border {
  border-bottom: none;
}
.cart-item .cart-item__media {
  position: relative;
  flex-shrink: 0;
  width: 80px;
  height: 80px;
}
.cart-item .cart-item__image-container {
  display: block;
  width: 100%;
  height: 100%;
}
.cart-item .cart-item__image-container.cart-item__image-container--placeholder {
  background-color: var(--color-img-placeholder-bg);
  border-radius: var(--global-border-radius);
}
.cart-item .cart-item__image {
  width: 100%;
  max-height: 100%;
  object-fit: cover;
  object-position: var(--img-desktop-pos);
  border-radius: var(--global-border-radius);
}
.cart-item .cart-item__row {
  display: flex;
  width: 100%;
}
.cart-item .cart-item__popover {
  left: -85px;
  width: calc(100% + 170px);
  max-width: 100vw;
}
.cart-item .cart-item__popover .product-volume-pricing__list {
  max-width: 100%;
}
.cart-item .cart-item__content {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  justify-content: space-between;
  width: 100%;
  padding-left: 16px;
}
.cart-item .cart-item__content:has(.quantity__input:focus) .cart-item__popover {
  visibility: visible;
  opacity: 1;
}
.cart-item .cart-item__error-text:not(:empty) {
  display: inline-block;
  margin-top: 10px;
  color: var(--color-text-attention);
}
.cart-item .cart-item__price-varies {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 8px;
}
.cart-item .cart-item__price {
  font-weight: 600;
}
.cart-item .cart-item__price.cart-item__price--new {
  display: inline-flex;
  color: var(--color-text-attention);
}
.cart-item .cart-item__price.cart-item__price--old {
  font-weight: normal;
  color: var(--color-text-thirdly);
}
.cart-item .cart-item__discounts {
  margin-top: 8px;
}
.cart-item .cart-item__option {
  margin-top: 8px;
  font-size: calc(var(--body-font-size) * 0.875);
  word-break: break-word;
}
.cart-item .cart-item__option.cart-item__option--italic {
  font-style: italic;
}
.cart-item .cart-item__option.cart-item__option--flex {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.cart-item .cart-item__option .link {
  color: var(--color-text-attention);
}
.cart-item .cart-item__option-label {
  font-weight: bold;
}
.cart-item .cart-item__summary {
  margin-top: 8px;
}
.cart-item .cart-item__actions {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  margin-top: 16px;
  gap: 8px;
}
.cart-item .cart-item__details-text {
  margin-top: 8px;
  font-size: calc(var(--body-font-size) * 0.875);
  line-height: 1.285;
  word-break: break-word;
  color: var(--color-text-secondary);
}
.cart-item .cart-item__details-text.cart-item__details-text--small {
  margin-top: 0;
  margin-bottom: 5px;
  font-size: calc(var(--body-font-size) * 0.75);
}
.cart-item .cart-item__heading {
  display: flex;
  align-items: flex-start;
  column-gap: 16px;
}
.cart-item .cart-item__details-title {
  opacity: 1;
  line-height: 1.5;
  text-decoration: none;
  transition-property: opacity;
  transition-duration: var(--timing-short);
  transition-timing-function: var(--easing-linear);
  color: var(--color-text-primary);
  word-break: break-word;
}
@media (-moz-touch-enabled: 0), (hover: hover), (pointer: fine) {
  .cart-item .cart-item__details-title:hover:hover {
    opacity: 0.7;
  }
}
.cart-item .cart-item__cta {
  position: relative;
  flex-shrink: 0;
  font-size: calc(var(--body-font-size) * 0.875);
  padding-top: 3px;
  line-height: 1.285;
  color: var(--color-text-secondary);
  transition-duration: var(--timing-short);
  transition-property: opacity;
}
.cart-item .cart-item__cta .icon {
  display: block;
  width: 16px;
  height: 16px;
}
.cart-item .cart-item__cta::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  width: 24px;
  height: 24px;
  transform: translate(-50%, -50%);
}
@media (-moz-touch-enabled: 0), (hover: hover), (pointer: fine) {
  .cart-item .cart-item__cta:hover {
    opacity: 0.7;
  }
}
.cart-item .cart-item__quantity-rules {
  width: 100%;
}
.cart-item .cart-item__quantity-rules-button {
  opacity: 1;
  margin-top: 10px;
  padding: 0;
  font-size: calc(var(--body-font-size) * 0.875);
  color: var(--color-text-primary, #000000);
  transition: opacity 0.3s ease;
}
@media (-moz-touch-enabled: 0), (hover: hover), (pointer: fine) {
  .cart-item .cart-item__quantity-rules-button:hover {
    opacity: 0.5;
  }
}
@media (min-width: 992px) {
  .cart-item .cart-item__media {
    width: 100px;
    height: 100px;
  }
  .cart-item .cart-item__content {
    padding-left: 24px;
  }
  .cart-item .cart-item__option.cart-item__option--flex {
    flex-direction: row;
    flex-wrap: wrap;
  }
  .cart-item .cart-item__quantity .quantity {
    width: 120px;
  }
}
.cart-drawer .cart-item .cart-item__row {
  flex-direction: column;
}
.cart-drawer .cart-item .cart-item__details {
  width: 100%;
}
.cart-drawer .cart-item .cart-item__heading {
  justify-content: space-between;
}
.cart-drawer .cart-item .cart-item__prices {
  flex-basis: 0;
}
.cart-drawer .cart-item .cart-item__price-single {
  display: none;
}
.cart-drawer .cart-item .cart-item__popover {
  left: -100px;
  width: calc(100% + 100px);
}
.cart-template .cart-item__cta.cart-item__cta--desktop {
  display: none;
}
.cart-template .cart-item__quantity {
  flex-wrap: wrap;
}
@media (max-width: 480.98px) {
  .cart-template .cart-item__popover {
    left: -100px;
    width: calc(100% + 140px);
  }
}
@media (min-width: 381px) {
  .cart-template .cart-item__option.cart-item__option--flex {
    flex-direction: row;
    flex-wrap: wrap;
  }
}
@media (min-width: 768px) {
  .cart-template .cart-item__actions {
    column-gap: 16px;
    justify-content: flex-start;
  }
}
@media (max-width: 1199.98px) {
  .cart-template .cart-item {
    padding-left: 16px;
    padding-right: 16px;
  }
  .cart-template .cart-item .cart-item__row {
    flex-direction: column;
  }
  .cart-template .cart-item .cart-item__summary {
    display: none;
  }
}
@media (min-width: 992px) {
  .cart-template .cart-item__content {
    padding-left: 16px;
  }
}
@media (min-width: 1200px) {
  .cart-template .cart-item {
    align-items: center;
    padding: 16px;
  }
  .cart-template .cart-item + .cart-item {
    border-top: 1px solid var(--color-border-secondary);
  }
  .cart-template .cart-item .cart-item__row {
    align-items: center;
  }
  .cart-template .cart-item .cart-item__price-total {
    display: none;
  }
  .cart-template .cart-item__content {
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
  }
  .cart-template .cart-item__details {
    flex-basis: auto;
    width: calc(24vw - 116px);
    margin-right: 0;
  }
  .cart-template .cart-item__quantity {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 146px;
    margin-top: 0;
    padding: 0 8px;
  }
  .cart-template .cart-item__quantity .quantity {
    width: 130px;
  }
  .cart-template .cart-item__summary {
    width: calc(15% + 16px);
    min-width: 110px;
    margin-top: 0;
    margin-bottom: 0;
    padding: 0 8px;
    text-align: center;
  }
  .cart-template .cart-item__price-varies {
    flex-wrap: nowrap;
    flex-direction: column;
  }
  .cart-template .cart-item__prices {
    display: initial;
    max-width: 130px;
    width: 120px;
    margin-left: 0;
    padding: 0 8px;
    text-align: center;
  }
  .cart-template .cart-item__actions {
    flex-grow: 1;
    flex-wrap: nowrap;
    justify-content: flex-start;
    width: auto;
    margin-top: 0;
    column-gap: 0;
  }
  .cart-template .cart-item__cta.cart-item__cta--desktop {
    display: inline-block;
    margin-left: auto;
  }
  .cart-template .cart-item__cta.cart-item__cta--mobile {
    display: none;
  }
}
@media (min-width: 1350px) {
  .cart-template .cart-item__details {
    width: calc(116px + 22%);
  }
}
.cart-footer {
  background-color: var(--color-background-secondary);
}
.cart-footer .cart-footer__tax {
  display: block;
  margin-bottom: 16px;
  line-height: 1.17;
  font-size: calc(var(--body-font-size) * 0.75);
  color: var(--color-text-secondary);
}
.cart-footer .cart-footer__button {
  min-width: unset;
}
.cart-footer .cart-footer__ctas {
  margin-top: 16px;
}
.cart-footer .cart-footer__button-message {
  margin: 20px 0;
  text-align: center;
  color: var(--minimum-order-amount-message, #cc0000);
}
.cart-footer .cart-footer__button-message.cart-footer__button-message--reached {
  color: var(--minimum-order-amount-reached-message, #000000);
}
.cart-footer [data-shopify-buttoncontainer] {
  margin-bottom: 0 !important;
  margin-left: 0 !important;
  margin-right: 0 !important;
}
.cart-footer [data-shopify-buttoncontainer] li {
  flex-basis: 100% !important;
  margin-top: 0 !important;
  margin-bottom: 0 !important;
  margin-left: 0 !important;
  margin-right: 0 !important;
  transition-property: opacity;
  transition-duration: var(--timing-short);
}
.cart-footer [data-shopify-buttoncontainer] li + li {
  margin-top: 16px !important;
}
.cart-footer [data-shopify-buttoncontainer] li, .cart-footer [data-shopify-buttoncontainer] li > * {
  height: 54px !important;
  border-radius: 32px !important;
}
@media (-moz-touch-enabled: 0), (hover: hover), (pointer: fine) {
  .cart-footer [data-shopify-buttoncontainer] li:hover:hover {
    opacity: 0.85;
  }
}
.cart-footer .cart-footer__order-summary-heading {
  text-align: center;
}
.cart-footer .cart-footer__order-summary-heading,
.cart-footer .cart-footer__shipping {
  border-bottom: 1px solid var(--color-border-secondary);
}
.cart-footer .cart-footer__order-summary-heading {
  padding: 16px 24px;
}
.cart-footer .cart-footer__shipping {
  padding: 16px 24px;
}
.cart-footer .cart-footer__subtotal-block {
  margin-bottom: 16px;
}
.cart-footer .cart-footer__savings {
  order: 0;
  width: 100%;
  margin-bottom: 20px;
}
.cart-footer .cart-footer__subtotal {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  column-gap: 8px;
  row-gap: 8px;
}
.cart-footer .cart-footer__subtotal-label {
  font-weight: 600;
  line-height: 1.5;
}
.cart-footer .cart-footer__subtotal-value {
  font-size: calc(var(--body-font-size) * 1.125);
  font-weight: 600;
  line-height: 1.5;
}
@media (min-width: 992px) {
  .cart-footer .cart-footer__subtotal-label {
    font-size: calc(var(--body-font-size) * 1.125);
  }
  .cart-footer .cart-footer__subtotal-value {
    font-size: calc(var(--body-font-size) * 1.375);
    line-height: 1.18;
  }
}
.cart-drawer .cart-footer {
  padding: 0;
}
.cart-drawer .cart-footer .cart-footer__main {
  padding: 16px;
}
.cart-drawer .cart-footer [data-shopify-buttoncontainer] {
  margin-bottom: 0 !important;
}
.cart-drawer .cart-footer [data-shopify-buttoncontainer] li, .cart-drawer .cart-footer [data-shopify-buttoncontainer] li > * {
  height: 54px !important;
}
@media (min-width: 992px) {
  .cart-drawer .cart-footer .cart-footer__main {
    padding: 24px;
  }
  .cart-drawer .cart-footer [data-shopify-buttoncontainer] {
    flex-wrap: wrap !important;
  }
}
.cart-template .cart-footer__main {
  padding: 24px;
}
@media (min-width: 1200px) {
  .cart-template .cart-footer {
    border-radius: var(--global-border-radius);
  }
}
.cart-gift-button-container {
  margin: 16px 0;
  text-align: center;
}
.cart-shipping-calc .cart-shipping-calc__content {
  text-align: left;
}
.cart-shipping-calc .cart-shipping-calc__select,
.cart-shipping-calc .cart-shipping-calc__input {
  margin: 0;
}
.cart-shipping-calc .cart-shipping-calc__select {
  padding-top: 19px;
  padding-bottom: 19px;
}
.cart-shipping-calc .cart-shipping-calc__field + .cart-shipping-calc__field {
  margin-top: 20px;
}
.cart-shipping-calc .cart-shipping-calc__label {
  margin-bottom: 7px;
}
.cart-shipping-calc .cart-shipping-calc__status:not(:empty) {
  margin-top: 20px;
}
.cart-shipping-calc .cart-shipping-calc__rate-list {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}
.cart-shipping-calc .cart-shipping-calc__rate-name {
  font-weight: bold;
}
.cart-shipping-calc .error {
  margin-top: 7px;
}
.cart-block {
  display: block;
  width: 100%;
  border-bottom: 1px solid var(--color-border-secondary);
}
.cart-block:last-child {
  border: none;
}
.cart-block .cart-block__accordion.is-active .cart-block__header {
  color: var(--color-accent);
}
.cart-block .cart-block__accordion.is-active .cart-block__content {
  visibility: visible;
}
.cart-block .cart-block__header {
  position: relative;
  width: 100%;
  padding-top: 15px;
  padding-bottom: 16px;
  padding-left: 16px;
  padding-right: 40px;
  font-weight: 600;
  text-align: initial;
  color: var(--color-text-primary);
  transition: 0.3s opacity ease;
}
.cart-block .cart-block__header[aria-expanded=false] .cart-block__icon-minus {
  opacity: 0;
}
.cart-block .cart-block__header[aria-expanded=true] .cart-block__icon-plus {
  opacity: 0;
}
@media (-moz-touch-enabled: 0), (hover: hover), (pointer: fine) {
  .cart-block .cart-block__header:hover {
    opacity: 0.7;
  }
}
.cart-block .cart-block__text {
  line-height: 1.5;
}
.cart-block .cart-block__icon {
  position: absolute;
  top: 50%;
  right: 16px;
  display: inline-flex;
  align-items: center;
  transform: translateY(-50%);
}
.cart-block .cart-block__icon svg {
  width: 16px;
  height: 16px;
}
.cart-block .cart-block__content {
  overflow: hidden;
  visibility: hidden;
  transition: 0.3s all;
}
.cart-block .cart-block__wrapper {
  padding-bottom: 16px;
  padding-left: 24px;
  padding-right: 24px;
}
.cart-block .cart-block__field {
  min-height: 100px;
  max-height: 200px;
  margin-bottom: 0;
  resize: vertical;
}
.cart-block .cart-block__button {
  padding: 8px 16px;
}
.cart-block:first-child {
  border-top: 1px solid var(--color-border-secondary);
}
@media (min-width: 992px) {
  .cart-block .cart-block__header {
    padding-top: 16px;
    padding-left: 24px;
    padding-right: 50px;
  }
  .cart-block .cart-block__icon {
    right: 24px;
  }
  .cart-block .cart-block__icon svg {
    width: 24px;
    height: 24px;
  }
}
.cart-drawer .cart-block .cart-block__field {
  resize: none;
}
.cart-upsell {
  display: block;
  width: 100%;
}
.cart-upsell + .cart-upsell {
  border-top: 1px solid var(--color-border-secondary);
}
.cart-upsell:last-of-type {
  border-bottom: 1px solid var(--color-border-secondary);
}
.cart-upsell .cart-upsell__container.is-active .cart-upsell__header-icon {
  transform: rotate(-180deg);
}
.cart-upsell .cart-upsell__container.is-active .cart-upsell__content {
  visibility: visible;
}
.cart-upsell .cart-upsell__header {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding-top: 16px;
  padding-bottom: 16px;
  padding-left: 24px;
  padding-right: 16px;
  border-bottom: 1px solid var(--color-border-secondary);
  background-color: var(--color-background-popup-drawer);
  color: var(--color-text-primary);
  text-align: initial;
  font-weight: 500;
}
.cart-upsell .cart-upsell__header:focus-visible {
  outline-offset: -3px;
}
.cart-upsell .cart-upsell__header-icon {
  color: var(--color-accent);
  transition-property: transform;
  transition-duration: var(--timing-base);
}
.cart-upsell .cart-upsell__header-text {
  font-weight: 600;
  line-height: 1.5;
}
.cart-upsell .cart-upsell__content {
  overflow: hidden;
  visibility: hidden;
  background-color: var(--color-background);
  transition: 0.3s all;
}
.cart-upsell .cart-upsell__item-select-wrapper {
  display: flex;
  flex-wrap: wrap;
  margin-top: 8px;
  row-gap: 5px;
}
.cart-upsell .cart-upsell__item-select-label {
  flex-shrink: 0;
  margin-right: 8px;
  font-size: calc(var(--body-font-size) * 0.875);
  color: var(--color-text-secondary);
}
.cart-upsell .cart-upsell__item-select {
  width: auto;
  max-width: 100%;
  min-height: auto;
  padding: 0;
  padding-right: 20px;
  border: none;
  border-radius: 0;
  background-position: 100% 50%;
  font-size: calc(var(--body-font-size) * 0.875);
  text-overflow: ellipsis;
}
.cart-upsell .cart-upsell__item-select:focus-visible {
  outline: 2px solid currentColor;
  outline-offset: 2px;
}
.cart-upsell .cart-upsell__item {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  padding: 16px;
}
.cart-upsell .cart-upsell__item-media {
  flex-shrink: 0;
  position: relative;
  width: 65px;
}
.cart-upsell .cart-upsell__item-image-wrapper {
  display: block;
  position: relative;
  padding-top: 100%;
}
.cart-upsell .cart-upsell__item-image-wrapper.cart-upsell__item-image-wrapper--placeholder {
  background-color: var(--color-img-placeholder-bg);
  border-radius: calc(var(--global-border-radius) / 2);
}
.cart-upsell .cart-upsell__image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  will-change: filter;
  border-radius: calc(var(--global-border-radius) / 2);
}
.cart-upsell .cart-upsell__item-content {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  min-width: 0;
  padding-left: 16px;
}
.cart-upsell .cart-upsell__item-details {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  gap: 16px;
}
.cart-upsell .cart-upsell__item-title {
  overflow: hidden;
  display: -webkit-box;
  opacity: 1;
  font-size: var(--body-font-size);
  font-weight: 400;
  line-height: 1.5;
  text-decoration: none;
  color: var(--color-text-secondary);
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  transition-property: opacity;
  transition-duration: var(--timing-short);
  transition-timing-function: var(--easing-linear);
  word-break: break-word;
}
@media (-moz-touch-enabled: 0), (hover: hover), (pointer: fine) {
  .cart-upsell .cart-upsell__item-title:hover:hover {
    opacity: 0.7;
  }
}
.cart-upsell .cart-upsell__item-price {
  font-weight: 600;
  line-height: 1.38;
}
.cart-upsell .cart-upsell__item-price .price-item {
  margin: 0;
}
.cart-upsell .cart-upsell__item-price .price-item.price-item--sale {
  font-weight: 600;
}
.cart-upsell .cart-upsell__item-price .price__old {
  font-weight: normal;
}
.cart-upsell .cart-upsell__item-actions {
  display: flex;
  justify-content: center;
}
.cart-upsell .cart-upsell__item-button {
  position: relative;
  z-index: 1;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 16px;
  border-radius: 32px;
  background-color: var(--button-background-color-secondary);
  font-size: calc(var(--body-font-size) * 0.875);
  line-height: 1.29;
  color: var(--button-text-color-secondary);
  white-space: nowrap;
  transition-property: background-color, color;
  transition-duration: var(--timing-base);
}
.cart-upsell .cart-upsell__item-button::before {
  content: "";
  position: absolute;
  z-index: -2;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--button-background-color-secondary);
}
.cart-upsell .cart-upsell__item-button::after {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 0;
  padding-top: 95%;
  border-radius: 50%;
  background-color: var(--button-background-color-secondary-hover);
  transform: scale(1.15) rotate(-20deg);
  transform-origin: left bottom;
  transition-property: width, transform;
  transition-duration: var(--timing-base);
}
.cart-upsell .cart-upsell__item-button .icon {
  width: 16px;
  height: 16px;
}
.cart-upsell .cart-upsell__item-button[disabled] {
  opacity: 0.5;
  cursor: default;
}
.cart-upsell .cart-upsell__item-button[disabled]::after {
  display: none;
}
.cart-upsell .cart-upsell__item-button.is-loading {
  opacity: 0.5;
  pointer-events: none;
}
@media (-moz-touch-enabled: 0), (hover: hover), (pointer: fine) {
  .cart-upsell .cart-upsell__item-button:hover:not([disabled]) {
    background-color: var(--button-background-color-secondary-hover);
    color: var(--button-text-color-secondary-hover);
  }
  .cart-upsell .cart-upsell__item-button:hover:not([disabled])::after {
    width: 130%;
  }
}
@media (min-width: 374px) {
  .cart-upsell .cart-upsell__item {
    padding: 16px 24px;
  }
  .cart-upsell .cart-upsell__item-media {
    width: 80px;
  }
}
@media (min-width: 992px) {
  .cart-upsell .cart-upsell__item-content {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    padding-left: 24px;
  }
  .cart-upsell .cart-upsell__item-details {
    margin-top: 12px;
  }
}
.cart-shipping {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.cart-shipping .cart-shipping__progress {
  position: relative;
  display: block;
  width: 100%;
  height: 6px;
  margin-top: 8px;
  background: var(--shipping-bar-progress-bar-color, #e9e9e9);
  border-radius: var(--global-border-radius);
}
.cart-shipping .cart-shipping__progress::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: var(--shipping-bar-progress-value, 0);
  height: 100%;
  background-color: var(--shipping-bar-progress-value-color, #cf1d5d);
  max-width: 100%;
  border-radius: var(--global-border-radius);
}
.cart-shipping .cart-shipping__icon {
  display: inline-flex;
  align-items: center;
}
.cart-shipping .cart-shipping__image {
  width: 16px;
  height: 16px;
  object-fit: contain;
  object-position: var(--img-desktop-pos);
}
.cart-shipping .cart-shipping__label {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  font-size: calc(var(--body-font-size) * 0.875);
  color: var(--color-text-secondary);
  column-gap: var(--global-gap-small);
}
.cart-shipping .cart-shipping__label strong {
  font-weight: 600;
  color: var(--color-text-primary);
}
.cart-shipping .cart-shipping__label.cart-shipping__label--success {
  font-weight: 600;
  color: var(--color-accent);
}
@media (min-width: 992px) {
  .cart-shipping.cart-shipping--row {
    flex-direction: row;
  }
  .cart-shipping.cart-shipping--row .cart-shipping__label {
    justify-content: flex-start;
  }
}
.cart-upsell-drawer .cart-upsell-drawer__heading {
  padding: 16px;
  background-color: var(--color-background);
}
.cart-upsell-drawer .cart-upsell-drawer__close {
  right: 5px;
}
.cart-upsell-drawer .cart-upsell-drawer__container {
  padding: 0;
  border-radius: inherit;
  background-color: var(--color-background-secondary);
}
@media (min-width: 992px) {
  .cart-upsell-drawer .cart-upsell-drawer__heading {
    display: none;
  }
}


.template-collection .js-filters-bar .custom-form .sort {
    display: flex;
    align-items: center;
}
.template-collection .js-filters-bar .custom-form .sort .grid-lists-icons {
    display: flex;
    align-items: center;
}