.password-footer {
  width: 100%;
  background-color: var(--background-color, #F6F6F6);
  color: var(--text-color, var(--color-text-primary));
}
.password-footer .password-footer__container {
  max-width: 1920px;
  margin: 0 auto;
  padding: 16px 24px;
}
.password-footer .password-footer__text {
  text-align: center;
  word-break: break-word;
}
.password-footer .password-footer__text .password-footer__bottom-link {
  display: inline-flex;
  align-items: center;
  padding-bottom: 2px;
  padding-left: 8px;
  padding-right: 0;
  line-height: 1.375;
  font-weight: 600;
  text-decoration: none;
  transition-property: opacity;
  transition-duration: var(--timing-short);
  color: currentColor;
}
.password-footer .password-footer__text .password-footer__bottom-link:focus-visible {
  outline: 2px solid currentColor;
}
@media (-moz-touch-enabled: 0), (hover: hover), (pointer: fine) {
  .password-footer .password-footer__text .password-footer__bottom-link:hover {
    opacity: 0.7;
  }
  .password-footer .password-footer__text .password-footer__bottom-link:hover .icon {
    transform: translateX(-5px);
  }
}
.password-footer .password-footer__text .password-footer__bottom-link .icon {
  width: 16px;
  height: 16px;
  margin-left: 10px;
  transition: transform var(--timing-short);
}